.centrado {
    width: 1000px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(42, 39, 39, 0.8);
    -webkit-box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
    box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
}

.form-log {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.fieldset1 {
    border: none;
    margin: 10px 0;
    padding: 0;
}
.label-log {
    display: block;
}

.input-log {
    width: 350px;
    padding: 5px;
    margin: 5px 0;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    -webkit-box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
    box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
}
.btn_log-form {
    margin-top: 30px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background-color: #6c757d;
    -webkit-box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
    box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
}

.btn_log-form:hover {
    border: 1px solid white;
    background-color: rgba(2, 129, 154, 0.9);
    transform: translateY(-3px);
}
.error {
    color: red;
}
