.register {
    width: 500px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(42, 39, 39, 0.8);
    -webkit-box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
    box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
}

.btn_reg_form {
    -webkit-box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
    box-shadow: 9px 13px 19px -1px rgba(0, 0, 0, 1);
    border: 1px solid white;
}
